# --- DATABASE CONFIGURATION ---
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_NAME=your_db_name_here
DB_HOST=your_db_host_here
DB_PORT=5432

# --- KAFKA CONFIGURATION ---
KAFKA_BOOTSTRAP_SERVERS=your_kafka_servers_here

# --- TELEGRAM CONFIGURATION (Real-time Alerts) ---
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# --- METABASE CONFIGURATION ---
METABASE_DB_NAME=metabase_db
# --- AIRFLOW CONFIGURATION ---
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=your_password_here
